default:
    suites:
        default:
            contexts:
                - Tests\Behat\DomainContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: \CqrsEsExample\Common\Infrastructure\Symfony\Kernel
            bootstrap: 'tests/bootstrap.php'