parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, array\\{class\\-string, 'reconstituteFromEve…'\\} given\\.$#"
			count: 1
			path: src/Common/Domain/AggregateRoot.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Common/Domain/AggregateRoot.php

		-
			message: "#^Method CqrsEsExample\\\\Event\\\\Application\\\\Query\\\\ListEventsHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Event/Application/Query/ListEventsHandler.php

		-
			message: "#^Method Tests\\\\Behat\\\\DomainContext\\:\\:dispatchQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Behat/DomainContext.php

		-
			message: "#^Method Tests\\\\Behat\\\\DomainContext\\:\\:dispatchQuery\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: tests/Behat/DomainContext.php

		-
			message: "#^Property Tests\\\\Behat\\\\DomainContext\\:\\:\\$role is never read, only written\\.$#"
			count: 1
			path: tests/Behat/DomainContext.php

		-
			message: "#^Method Common\\\\DateTimeRangeTest\\:\\:provideRanges\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Common/DateTimeRangeTest.php
