services:
    -
        class: \Tests\Architecture\LayerDependencyTest
        tags: { phpat.test }

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
